In [1]:
import pandas as pd

print("Library imported successfully.")

Library imported successfully.

In [2]:
jul_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/July 2021 Trip Data.csv")

print("CSV file imported successfully")

CSV file imported successfully

In [3]:
jul_2021.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    87263
start_station_id      87262
end_station_name      93158
end_station_id        93158
start_lat                 0
start_lng                 0
end_lat                 731
end_lng                 731
member_casual             0
dtype: int64

In [4]:
jul_2021 = jul_2021.dropna(how='any',axis=0)

print("Null values removed successfully.")

jul_2021.isnull().sum()

Null values removed successfully.

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [5]:
jul_2021.duplicated().any()

False

In [6]:
jul_2021.to_excel('jul_2021.xlsx', index=False)
print("Cleaned CSV file exported as XLSX file successfully.")

Cleaned CSV file exported as XLSX file successfully.

In [7]:
aug_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/August 2021 Trip Data.csv")
aug_2021 = aug_2021.dropna(how='any',axis=0)
aug_2021.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [8]:
aug_2021.to_excel('aug_2021.xlsx', index=False)

In [9]:
sep_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/September 2021 Trip Data.csv")
sep_2021 = sep_2021.dropna(how='any',axis=0)
sep_2021.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [10]:
sep_2021.to_excel('sep_2021.xlsx', index=False)

In [11]:
oct_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/October 2021 Trip Data.csv")
oct_2021 = oct_2021.dropna(how='any',axis=0)
oct_2021.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [12]:
oct_2021.to_excel('oct_2021.xlsx', index=False)

In [13]:
nov_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/November 2021 Trip Data.csv")
nov_2021 = nov_2021.dropna(how='any',axis=0)
nov_2021.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [14]:
nov_2021.to_excel('nov_2021.xlsx', index=False)

In [15]:
dec_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/December 2021 Trip Data.csv")
dec_2021 = dec_2021.dropna(how='any',axis=0)
dec_2021.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [16]:
dec_2021.to_excel('dec_2021.xlsx', index=False)

In [17]:
jan_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/January 2022 Trip Data.csv")
jan_2022 = jan_2022.dropna(how='any',axis=0)
jan_2022.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [18]:
jan_2022.to_excel('jan_2022.xlsx', index=False)

In [19]:
feb_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/February 2022 Trip Data.csv")
feb_2022 = feb_2022.dropna(how='any',axis=0)
feb_2022.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [20]:
feb_2022.to_excel('feb_2022.xlsx', index=False)

In [21]:
mar_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/March 2022 Trip Data.csv")
mar_2022 = mar_2022.dropna(how='any',axis=0)
mar_2022.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [22]:
mar_2022.to_excel('mar_2022.xlsx', index=False)

In [23]:
apr_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/April 2022 Trip Data.csv")
apr_2022 = apr_2022.dropna(how='any',axis=0)
apr_2022.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [24]:
apr_2022.to_excel('apr_2022.xlsx', index=False)

In [25]:
may_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/May 2022 Trip Data.csv")
may_2022 = may_2022.dropna(how='any',axis=0)
may_2022.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [26]:
may_2022.to_excel('may_2022.xlsx', index=False)

In [27]:
jun_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/for Python/June 2022 Trip Data.csv")
jun_2022 = jun_2022.dropna(how='any',axis=0)
jun_2022.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [28]:
jun_2022.to_excel('jun_2022.xlsx', index=False)