In [1]:
import pandas as pd
import numpy as np
import datetime

print("Libraries imported successfully.")

Libraries imported successfully.

In [2]:
jul_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/July 2021 Trip Data.csv")
aug_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/August 2021 Trip Data.csv")
sep_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/September 2021 Trip Data.csv")
oct_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/October 2021 Trip Data.csv")
nov_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/November 2021 Trip Data.csv")
dec_2021 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/December 2021 Trip Data.csv")
jan_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/January 2022 Trip Data.csv")
feb_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/February 2022 Trip Data.csv")
mar_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/March 2022 Trip Data.csv")
apr_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/April 2022 Trip Data.csv")
may_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/May 2022 Trip Data.csv")
jun_2022 = pd.read_csv("/Users/aftabkhan/Desktop/Cyclistic Trip Data/Python/June 2022 Trip Data.csv")

print("CSV files imported successfully.")

CSV files imported successfully.

In [3]:
dataset = [jul_2021, aug_2021, sep_2021, oct_2021, nov_2021, dec_2021, jan_2022, feb_2022, mar_2022, apr_2022, may_2022, jun_2022]
dataset = pd.concat(dataset)

print("Datasets merged successfully.")

Datasets merged successfully.

In [4]:
dataset

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0A1B623926EF4E16,docked_bike,7/2/21 14:44,7/2/21 15:19,Michigan Ave & Washington St,13001,Halsted St & North Branch St,KA1504000117,41.883984,-87.624684,41.899368,-87.648480,casual
1,B2D5583A5A5E76EE,classic_bike,7/7/21 16:57,7/7/21 17:16,California Ave & Cortez St,17660,Wood St & Hubbard St,13432,41.900363,-87.696704,41.889899,-87.671473,casual
2,6F264597DDBF427A,classic_bike,7/25/21 11:30,7/25/21 11:48,Wabash Ave & 16th St,SL-012,Rush St & Hubbard St,KA1503000044,41.860384,-87.625813,41.890173,-87.626185,member
3,379B58EAB20E8AA5,classic_bike,7/8/21 22:08,7/8/21 22:23,California Ave & Cortez St,17660,Carpenter St & Huron St,13196,41.900363,-87.696704,41.894556,-87.653449,member
4,6615C1E4EB08E8FB,electric_bike,7/28/21 16:08,7/28/21 16:27,California Ave & Cortez St,17660,Elizabeth (May) St & Fulton St,13197,41.900350,-87.696682,41.886593,-87.658387,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
769199,7B3B2890CA85E05D,classic_bike,6/25/22 0:56,6/25/22 1:01,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,41.910522,-87.653106,41.910522,-87.653106,member
769200,1E993989CC66BCBC,classic_bike,6/25/22 0:56,6/25/22 1:00,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,41.910522,-87.653106,41.910522,-87.653106,member
769201,AEA166296BC67566,electric_bike,6/12/22 12:47,6/12/22 12:47,Milwaukee Ave & Fullerton Ave,428,Milwaukee Ave & Fullerton Ave,428,41.920000,-87.700000,41.920000,-87.700000,casual
769202,B9F527742959CF03,classic_bike,6/12/22 13:28,6/12/22 13:53,Clark St & Randolph St,TA1305000030,Clark St & Randolph St,TA1305000030,41.884576,-87.631890,41.884576,-87.631890,casual
769203,D241310352E26484,classic_bike,6/12/22 14:40,6/12/22 15:08,Blue Island Ave & 18th St,13135,Blue Island Ave & 18th St,13135,41.857556,-87.661535,41.857556,-87.661535,casual

In [5]:
dataset.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [6]:
dataset.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    836018
start_station_id      836015
end_station_name      892103
end_station_id        892103
start_lat                  0
start_lng                  0
end_lat                 5374
end_lng                 5374
member_casual              0
dtype: int64

In [7]:
dataset = dataset.dropna(how='any',axis=0)

print("Null values removed successfully.")

dataset.isnull().sum()

Null values removed successfully.

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [8]:
dataset.duplicated().any()

False

In [9]:
dataset = dataset.drop(columns=["start_lat", "start_lng", "end_lat", "end_lng"])
dataset

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,0A1B623926EF4E16,docked_bike,7/2/21 14:44,7/2/21 15:19,Michigan Ave & Washington St,13001,Halsted St & North Branch St,KA1504000117,casual
1,B2D5583A5A5E76EE,classic_bike,7/7/21 16:57,7/7/21 17:16,California Ave & Cortez St,17660,Wood St & Hubbard St,13432,casual
2,6F264597DDBF427A,classic_bike,7/25/21 11:30,7/25/21 11:48,Wabash Ave & 16th St,SL-012,Rush St & Hubbard St,KA1503000044,member
3,379B58EAB20E8AA5,classic_bike,7/8/21 22:08,7/8/21 22:23,California Ave & Cortez St,17660,Carpenter St & Huron St,13196,member
4,6615C1E4EB08E8FB,electric_bike,7/28/21 16:08,7/28/21 16:27,California Ave & Cortez St,17660,Elizabeth (May) St & Fulton St,13197,casual
...,...,...,...,...,...,...,...,...,...
769199,7B3B2890CA85E05D,classic_bike,6/25/22 0:56,6/25/22 1:01,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,member
769200,1E993989CC66BCBC,classic_bike,6/25/22 0:56,6/25/22 1:00,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,member
769201,AEA166296BC67566,electric_bike,6/12/22 12:47,6/12/22 12:47,Milwaukee Ave & Fullerton Ave,428,Milwaukee Ave & Fullerton Ave,428,casual
769202,B9F527742959CF03,classic_bike,6/12/22 13:28,6/12/22 13:53,Clark St & Randolph St,TA1305000030,Clark St & Randolph St,TA1305000030,casual
769203,D241310352E26484,classic_bike,6/12/22 14:40,6/12/22 15:08,Blue Island Ave & 18th St,13135,Blue Island Ave & 18th St,13135,casual

In [11]:
pd.options.mode.chained_assignment = None  # default='warn'

dataset["started_at"] = pd.to_datetime(dataset["started_at"])
dataset["ended_at"] = pd.to_datetime(dataset["ended_at"])

print("Typecast of variables changed successfully.") 
dataset.dtypes

Typecast of variables changed successfully.

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
member_casual                 object
dtype: object

In [12]:
dataset["trip_duration"] = dataset["ended_at"] - dataset["started_at"]
dataset

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,trip_duration
0,0A1B623926EF4E16,docked_bike,2021-07-02 14:44:00,2021-07-02 15:19:00,Michigan Ave & Washington St,13001,Halsted St & North Branch St,KA1504000117,casual,0 days 00:35:00
1,B2D5583A5A5E76EE,classic_bike,2021-07-07 16:57:00,2021-07-07 17:16:00,California Ave & Cortez St,17660,Wood St & Hubbard St,13432,casual,0 days 00:19:00
2,6F264597DDBF427A,classic_bike,2021-07-25 11:30:00,2021-07-25 11:48:00,Wabash Ave & 16th St,SL-012,Rush St & Hubbard St,KA1503000044,member,0 days 00:18:00
3,379B58EAB20E8AA5,classic_bike,2021-07-08 22:08:00,2021-07-08 22:23:00,California Ave & Cortez St,17660,Carpenter St & Huron St,13196,member,0 days 00:15:00
4,6615C1E4EB08E8FB,electric_bike,2021-07-28 16:08:00,2021-07-28 16:27:00,California Ave & Cortez St,17660,Elizabeth (May) St & Fulton St,13197,casual,0 days 00:19:00
...,...,...,...,...,...,...,...,...,...,...
769199,7B3B2890CA85E05D,classic_bike,2022-06-25 00:56:00,2022-06-25 01:01:00,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,member,0 days 00:05:00
769200,1E993989CC66BCBC,classic_bike,2022-06-25 00:56:00,2022-06-25 01:00:00,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,member,0 days 00:04:00
769201,AEA166296BC67566,electric_bike,2022-06-12 12:47:00,2022-06-12 12:47:00,Milwaukee Ave & Fullerton Ave,428,Milwaukee Ave & Fullerton Ave,428,casual,0 days 00:00:00
769202,B9F527742959CF03,classic_bike,2022-06-12 13:28:00,2022-06-12 13:53:00,Clark St & Randolph St,TA1305000030,Clark St & Randolph St,TA1305000030,casual,0 days 00:25:00
769203,D241310352E26484,classic_bike,2022-06-12 14:40:00,2022-06-12 15:08:00,Blue Island Ave & 18th St,13135,Blue Island Ave & 18th St,13135,casual,0 days 00:28:00

In [13]:
dataset["day_of_week"] = dataset["started_at"].dt.dayofweek
day_dict = {0:"Sunday", 1:"Monday", 2:"Tuesday", 3:"Wednesday", 4:"Thursday", 5:"Friday", 6:"saturday"}
dataset["day_of_week"]= dataset["day_of_week"].apply(lambda y:day_dict[y])

In [14]:
dataset.sort_values(by = ["started_at"], inplace = True, ascending = True)
dataset

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,trip_duration,day_of_week
247538,8A1D30385234151D,classic_bike,2021-07-01 00:00:00,2021-07-01 00:28:00,Michigan Ave & Lake St,TA1305000011,Wabash Ave & Wacker Pl,TA1307000131,casual,0 days 00:28:00,Wednesday
782139,D5AA171FAE3335A7,classic_bike,2021-07-01 00:00:00,2021-07-01 00:16:00,Wabash Ave & Wacker Pl,TA1307000131,Wells St & Concord Ln,TA1308000050,casual,0 days 00:16:00,Wednesday
433589,3FBF4B489DE3F24E,docked_bike,2021-07-01 00:00:00,2021-07-01 00:10:00,Clark St & Winnemac Ave,TA1309000035,Broadway & Thorndale Ave,15575,casual,0 days 00:10:00,Wednesday
678771,B68C8C61487B5C15,classic_bike,2021-07-01 00:00:00,2021-07-01 00:46:00,Bissell St & Armitage Ave,13059,Lincoln Ave & Diversey Pkwy,TA1307000064,casual,0 days 00:46:00,Wednesday
173982,D493F6B96A3117A2,classic_bike,2021-07-01 00:01:00,2021-07-01 00:14:00,Halsted St & 18th St,13099,Morgan St & 31st St,TA1308000046,casual,0 days 00:13:00,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...
673991,90994A72CEA06EED,electric_bike,2022-06-30 23:59:00,2022-07-01 02:09:00,Franklin St & Chicago Ave,13017,Clark St & Chicago Ave,13303,casual,0 days 02:10:00,Wednesday
427682,2CD209F207D413AF,classic_bike,2022-06-30 23:59:00,2022-07-01 00:05:00,Dearborn St & Monroe St,TA1305000006,State St & Harrison St,SL-007,casual,0 days 00:06:00,Wednesday
673992,04386E078470EF49,electric_bike,2022-06-30 23:59:00,2022-07-01 02:09:00,Franklin St & Chicago Ave,13017,Clark St & Chicago Ave,13303,casual,0 days 02:10:00,Wednesday
40206,B44E5830EDC1B0F9,classic_bike,2022-06-30 23:59:00,2022-07-01 00:20:00,Southport Ave & Roscoe St,13071,Ravenswood Ave & Lawrence Ave,TA1309000066,casual,0 days 00:21:00,Wednesday
675689,7268745D55C36C22,classic_bike,2022-06-30 23:59:00,2022-07-01 00:05:00,Broadway & Belmont Ave,13277,Clark St & Newport St,632,casual,0 days 00:06:00,Wednesday

In [16]:
dataset.to_csv('cyclistic_dataset.csv', index=False)
print("Dataset exported as CSV file successfully.")

Dataset exported as CSV file successfully.